@import 'https://fonts.googleapis.com/css?family=Raleway';
body {
    background-color: #FDF6E3;
}

img {
    max-width: 100%
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2em;
    padding: 0 5%;
}

.hide-mobile {
    display: none;
}

h1, h2, h3, h4 {
    font-family: Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    padding: 0 0 2% 0;
    margin: 0;
}

.logo {
    text-align: center;
    font-size: 4em;
    font-family: Courier, monospace;
    color: black;
}

.highlight-list li {
    font-family: Courier, monospace;
    font-size: 1.2em;
    display: inline-block;
    background-color: rgba(250, 6, 6, 0.66);
    margin: 1%;
    padding: 2%;
    color: white;
}

.highlight-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.box {
    background-color: rgba(241, 237, 225, 1);
    margin: 5% 0;
    padding: 2% 0;
}

.contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

ul {
    margin-left: 8%;
}

@media (min-width: 650px) {
    body {
        margin: 0 auto;
        padding: 0;
        /*max-width: 1000px;*/
    }
    main{
      /*max-width: 800px;*/
    }
    /*img {
      max-width: 60%;
      display: block;
      margin: 0 auto;
    }*/
    header {
      /*position: relative;*/
      height: 30vh;
      margin-bottom: 10vh;
      padding:0 0 0 1%;
    }
    #skills-list{
      width: 40vw;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      right:0;
      justify-content: flex-end;
    }
    .logo{
      padding: 0;
      margin: 0;
      font-size: 5rem;
      flex: 1 1 100%;
    }
    #header-left{
      list-style: none;
      display: flex;
      line-height: .7;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 40%;
      max-width: 500px;
      position: absolute;
      left: 0;
      top: 0;
      /*max-width: 30vw;*/
      max-height: 100%;
      margin:0;
      padding: 0 0 0 1%;
    }
    #karl{
      text-align: left;
      display: inline-block;
      padding-top: 1%;
      padding-bottom: 3%;
    }
    #morand{
      text-align: right;
      display: inline-block;
      padding-bottom: 3%;
    }
    .contact {
      display: flex;
      justify-content: flex-start;
    }
    .contact-img{
      flex-basis: 10%;
    }
    .highlight-list li {
      font-size: 1.3rem;
      /*flex-grow: 1;*/
    }
    .main-section{
      width: 100%;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }
    .block{
      max-width: 400px;
      /*height: 400px;*/
      /*flex: 1 1 20%;*/
      margin-top: 1%;
      background-color: red;
    }
    .block img {
      max-width: 50%;
    }
}
/* TODO: Set Max sizes for the fonts so they don't become HUGE */
