body {
  background-color: #FDF6E3;
}
p {
  padding: 0 5%;
}
img {
  display: none;
}
h1, h2, h3, h4 {
	font-family: Courier, monospace;
	text-align: center;
}
#logo {
  text-align: center;
	font-size: 5em;
	font-family: Courier, monospace;
	color: black;
}
#brand {
	font-family: Courier, monospace;
	font-size: 1.5em;
  text-align: center;
	background-color: rgba(250, 6, 6, 0.66);
	padding: 1% 3%;
}
#techskills li {
	font-family: Courier, monospace;
  font-size: 3em;
	display: inline-block;
	background-color: rgba(250, 6, 6, 0.66);
	margin: 8px;
	padding: 8px;
	color: white;
}
